@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


.Company-container-header{
    display: flex; /* Establece el contenedor como un contenedor Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
    align-items: flex-start; /* Alinea los elementos hijos al inicio del eje vertical */
    gap: 20px;
}

.company-container-seccion1, .company-container-seccion2 {
    flex: 1; /* Permite que ambos elementos tomen espacio igual, ajusta según sea necesario */
    min-width: 0; /* Ayuda a evitar problemas de desbordamiento */
  }
  
  .company-container-seccion1 {
    margin: 0px; 
    background-color: #aaa;
  }

  .company-container-seccion2 {
    flex: 1.5; /* La segunda sección tomará dos partes del espacio */
    min-width: 0; /* Ayuda a evitar problemas de desbordamiento */
    max-height: 100vh;
  }


.company-container-img{
    position: relative;
    left: 50%;    
    transform: translateX(-50%);
    width: 6vw; /* Mantiene el círculo del mismo tamaño independientemente del contenido */
    height:6vw;
    background-color: #01BAB3; 
    border-radius: 50%; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%; /* Centra el círculo horizontalmente */
    top: 4vh;
    
}

.company-button-img{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 70px; /* Tamaño del icono de la cámara */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.company-icon-camara{
    width: 90%;
    height: 100%;
}


.company-Content-form{
    border-radius: 10%;
    padding: 0px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 6vh auto;
}

.company-title{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0vh;
    margin-top: 5px;
}
.company-line-title {
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    border: none; /* Remueve el borde predeterminado */
    height: 1px; /* Ajusta la altura para hacerlo parecer una línea */
    background-color: #666; /* Color de la línea */
    margin: 10px 0; 
    position: relative;
    margin-left: -0%;
}

.company-inputGroups-container {
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    
}

.company-inputGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.company-inputGroup label{
    font-size: 14px;
    color: #333; /* Color de la etiqueta */
    margin-bottom: 0px;
    padding-left: 10px;
}

.company-inputGroup input {
    flex: 1;
    padding: 10px 25px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    margin: 10px;
    width: 200px;
}

.company-input-container{
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.company-input-Icon{
    position: absolute;
    color: #aaa;
    margin: 0px 15px;
    flex-shrink: 0;
}