.trend-dashboard {
  font-family: Arial, sans-serif;
  color: #000000;
  padding: 20px;
  background-color: #e7f3f9;
}

.trend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-image: url('https://i.ibb.co/VMRbRd5/Capture-2024-05-29-131152.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trend-header-content {
  flex: 1;
  margin-right: 20px;
  background-color: transparent; /* Color de fondo como respaldo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trend-header h1 {
  font-size: 48px;
  margin-bottom: 20px; /* Separación aumentada */
  margin-left: 20px;
}

.trend-header p {
  font-size: 18px;
  margin-bottom: 30px; /* Separación aumentada */
  margin-left: 20px;
}

.trend-header-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.trend-start-shopping,
.trend-explore-more {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.trend-start-shopping {
  background-color: #000;
  color: #fff;
}

.trend-explore-more {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.trend-product-card1 {
  flex: 1;
  border: 1px solid #c29090;
  padding: 10px; /* Tamaño ajustado */
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px; /* Añadir margen derecho */
  max-width: 200px; /* Tamaño ajustado */
  margin-top: 10px;
  margin-bottom: 10px;
}



.trend-product-card1 img,
.trend-product-card2 img {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
}

.trend-trending-products {
  position: relative;
  text-align: center;
  margin-top: 40px;
  background-color: #e7f3f9;
  margin-bottom: 20px;
}

.trend-trending-products h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.trend-products-grid {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}

.trend-product-card3 {
  transition: transform 0.3s ease-in-out;
  border: 1px solid #888;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  width: 150px; /* Ajusta este valor según el ancho deseado */
  height: 280px;
  min-width: 100px;
  flex-shrink: 0;
  margin-bottom: 20px; /* Añade un margen inferior para crear espacio debajo de cada tarjeta */
}

.trend-product-card3 img {
  background-color: transparent; /* Hace el fondo transparente */
  width: 100%;
  max-width: 150px;
  margin-bottom: 10px;
  border: none; /* Añade un borde gris claro */
  border-radius: 5px; /* Opcional: redondea las esquinas del borde */
}

.trend-product-card3 h3 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #2c2f34;
  font-weight: lighter;
}

.trend-product-price {
  color: #1b2b31; /* Establece el color del texto */
  border-radius: 0;
  font-size: 20px; /* Tamaño del texto */
  font-weight: lighter; /* Peso del texto */
  margin-top: 0px; /* Espacio superior */
  margin-bottom: 2px;
}

.trend-product-brand {
  font-size: 18px;
  margin: 0;
  color: rgb(68, 31, 255);
  font-weight: bold; /* Hace el texto en negrita */
  margin-top: 0px;
}

.trend-scroll-button {
  position: absolute;
  top: 0%;
  transform: translateY(-10%);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.trend-scroll-button.trend-left {
  left: 0;
}

.trend-scroll-button.trend-right {
  right: 0;
}

.trend-near-products {
  text-align: center;
  margin-top: 40px;
}

.trend-near-products h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: left;
}

.trend-products-grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 10px;
}

.trend-product-card4 {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 150px;
  max-width: 300px;
  margin: 10px auto;
  flex-direction: row; /* Alinea los elementos en fila */
}

.trend-product-card4:hover {
  transform: scale(1.05);
}

.trend-product-card4 img {
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  object-fit: cover;
  border: none;
}

.trend-product-card4-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  text-align: left;
  flex-grow: 1; /* Permite que el contenedor de texto ocupe el espacio restante */
}

.trend-product-card4-content h3 {
  font-size: 16px; /* Aumenta el tamaño para mejor legibilidad */
  color: #2c2f34;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 10px;
}

.trend-product-card4-content .trend-product-brand {
  color: rgb(207, 205, 226);
  font-weight: bold;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
}

.trend-product-card4-content .trend-product-price {
  color: #2f2c32;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 10px;
}
