.employee-container{
    display: flex; /* Establece el contenedor como un contenedor Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
    max-height: 100vh;
    max-width: 100%;
}

.employee-container-header{
    overflow: visible;
    display: flex;
    background-color: rgba(131, 249, 249,0.60);
    border-radius: 0px 0px 10px 10px;
    padding: 5px; 
    margin: 0px 0% 4vh ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    padding-top: 0px;
    position: relative;
}

.employee-container-code-section2, .employee-container-section1 {
    flex: 1; /* Permite que ambos elementos tomen espacio igual, ajusta según sea necesario */
    min-width: 0; /* Ayuda a evitar problemas de desbordamiento */
}
  
.employee-container-section1 {
    margin: 0% 10%; 
}

.employee-container-code-section2 {
    flex: 0.5; /* La segunda sección tomará dos partes del espacio */
    min-width: 0; /* Ayuda a evitar problemas de desbordamiento */
    max-height: 100vh;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.employee-info, .employee-info-days{
    font-size: 16px;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
    max-height: 100vh;
}
.employee-inputGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.employee-inputGroup label{
    font-size: 14px;
    color: #333; /* Color de la etiqueta */
    margin-bottom: 0px;
    margin-left: 10px;
}

.employee-inputGroup input {
    flex: 1;
    padding: 10px 25px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    margin: 10px;
    left: 50%;
}

.employee-custom-select {
    appearance: none;
    border: 1px solid #ccc;
}

  

.employee-info-days{
    margin-top: 4vh;
}

.employee-submit-button{
    justify-content: center;
    border: 0px solid;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 30px auto;
    cursor: pointer;
}

#employee-button-generar{
    background-color: rgb(104, 243, 243);
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);  /* Estado normal, chiquito */
    }
    50% {
      transform: scale(1.1); /* Estado agrandado */
    }
  }

.employee-submit-button-large{
    animation: pulse 2s infinite;
}

/*Seccion 2*/

.employee-container-code{
    background-color: #f0efef;
    border-radius: 10px;
    width: 80%;
    height: 30%;
    padding: 20px;
    justify-content: center;
    display: inline;
    margin: 0% 40% 0% -5%;
}
.employee-container-center{
    background-color: rgb(255, 255, 255);
    height: 40%;
    width: 80%;
    margin: 10%;
    border-radius: 15px;
}
.employee-generated-code{
    text-align: center;
    padding: 25%;
}
.employee-icon-sharing{
    display: flex;             
    justify-content: center;   /* Centra los ítems verticalmente */
    gap: 10px; 
}

.employee-icons {
    font-size: 1.5em;
    cursor: pointer;
    padding-left: 10%;
}
  
.employee-icon-whatsapp {
    color: #25D366;
}

.employee-icon-whatsapp:hover {
    color: #1ebea5; 
}