/* Fondo oscuro */
.modalProducts-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



/* Estilo del contenedor del modal */
.modalProducts-content {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Asegúrate de que el contenido está sobre el fondo oscuro */
    width: 90%; /* O ajusta según necesidad */
    max-width: 500px; /* O ajusta según necesidad */
    height: auto;
}

.modalProducts-content input[type="text"] {
    color: black; /* Color de texto negro para el contenido escrito */
    font-size: 14px;
}

.modalProducts-content select{
    color: #000000;

}
.modalProducts-content input[type="text"]::placeholder {
    color: #ccc; 
}
.modalProducts-content select:invalid {
    color: #ccc; /* Color gris claro para indicar que no se ha seleccionado nada aún */
}


.products-header-Ecopym{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalProducts-logo img {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    margin: 0 auto
}
.modalProducts-text-Ecopym p {
    font-size: 16px; /* Ajusta el tamaño del texto según necesites */
    color: #000000;
    font-weight: bold;
}

.products-title{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: -2vh;
    margin-top: 5px;
}

.modalProducts-checkboxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; 
    padding: 0px 0px 5px 0px;
}

.modalProducts-checkboxes div {
    display: flex; /* Establece flex para los div internos */
    align-items: center; /* Alinea verticalmente los elementos dentro del div */
}

.modalProducts-checkboxes input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0px 5px 0px 0px;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.modalProducts-checkboxes input[type="checkbox"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00BFA5;
    border-radius: 50%;
}

.modalProducts-checkboxes label {
    margin-left: 5px;
    font-size: 16px;
    color: #333;
}



/*titulo*/
.modalProducts-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    font-weight: bold;
}

/*contenedor de los inputs*/
.modalProducts-body {
    margin-top: 20px;
}




.products-Content-form{
    padding: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: auto auto;
}

/*nombre*/
.product-inputGroups-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width:  80%;
    max-width: 400px;
    gap: 10vh;
    flex-direction: column;
}

.products-label{
    font-size: 14px;
}
.products-container-img{
    position: relative;
    left: 5%;    
    transform: translateX(-50%);
    width: 80px; /* Mantiene el círculo del mismo tamaño independientemente del contenido */
    height: 80px;
    background-color: #00f8cf; 
    border-radius: 50%; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%; /* Centra el círculo horizontalmente */
    margin-bottom: 0px;
}

/*dentro del input*/
.produts-inputGroup input, select {
    flex: 1;
    padding: 7px 5px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    margin: 0px 0px 10px 0px;
    width: 170px;
    color: #868383;
}

.products-inputGroupMedida input{
    width: 180px;
    flex: 1;
    padding: 7px 25px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    margin: 0px 0px 10px 0px;
    color: #868383;

}

.products-input-Icon{
    position: absolute;
    color: #aaa;
    margin: -7px 10px 0px;
    flex-shrink: 0;
}

.products-custom-select{
    width: 230px;
}



.products-button-container{
    background-color: #cff800;
    
}
.products-button-aceptar{
    background-color: #01BAB3;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modalProducts-content {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .product-inputGroups-container, .products-inputGroupMedida, .products-custom-select {
        width: 100%; 
        max-width: none;
    }
}




@media (min-width: 600px) {
    .product-inputGroups-container {
        flex-direction: row; /* En pantallas más grandes, usa fila para aprovechar el espacio */
        justify-content: space-between; /* Distribuye el espacio uniformemente */
    }
}


@media (min-width: 600px) {
    .modalProducts-checkboxes {
        flex-direction: row; /* En pantallas más grandes, coloca los checkboxes en fila */
        gap: 20px;
    }
}

